.exit_menu_body{
	position: absolute;
	top: 50px;
	right: 0px;
}
#profile_div{
	position: relative;
	width: 300px;
	height: 600px;
	border: 1px solid orange;
	background-color: white;
	background-size: contain;
	background-image: url(img/profileBacground.jpg);
}
#profile_title_div{
	width: 100%;
	height: 40px;
	border: 1px solid orange;
}
#profile_img_block{
	width: 300px;
	height: 200px;
}
#profile_img{
	width: 150px;
	height: 150px;
	border: 1px solid orange;
	margin-left: 75px;
	margin-top: 25px;
	border-radius: 50%;
	background-size: cover;
	background-image: url(img/Artem.png);
}
#profile_elements_div{
	width: 300px;
	height: 290px;
}
#profile_footer_div{
	margin-left: 15px;
	width: 270px;
	height: 25px;
	z-index: 10;
	background-size: contain;
	background-image: url(img/profileBook2.jpg);
}

.profile_elements_all{
	width: 300px;
	height: 50px;
	border: 1px solid orange;
	margin-top: 5px;
	text-align: center;
}
.exit_title{
	font-size: 35px;
	width: 100px;
	float: right;
	margin-right: 20px;
	margin-top: -5px;
	
    
}
#nav_menu .profile .exit_title a{
	color: orange;
}
#nav_menu .profile .exit_title a:hover{
	color: darkorange;
}
#nav_menu .profile .exit_title a i{
	font-size: 25px;
	color: orange;
}
.exit_menu_stat{
	font-size: 21px;
	margin-top: 12px;
	color: orange;
}
.exit_menu_stat i:hover{
	transition: all 1s;
	transform: rotate(720deg);
	color: red;
}
/*@keyframes pulsate{50%{color:#fff;} 100%{ transform: rotate(360deg);}
}
.exit_menu_stat i{
	color: orange;
	
	animation: pulsate 3s linear infinite;
}*/

