#NavMenuIndexDiv{
	width: 100%;
	height: 70px;

	
}
#NavMenuIndexDivTitle{
	position: fixed;
	width: 100%;
	height: 70px;
	top: 0;
	left: 0;
	background-image: url('img/MenuIndexBackground.png');
	z-index: 3000;
}
#NavMenuIndexInfo{
	width: 1200px;
	height: 60px;
	margin-top: 4px;
	border-radius: 20px;
	margin: 0 auto;

	z-index: 3000;
}
#nav_menu{
	width: 1190px;
	min-width: 1190px;
	margin: 0 auto;
	border-color:  transparent;
	color: white;
	background-color: transparent;
	font-weight: 500;
	z-index: 3000;
	border-radius: 10px;
}
.load_avatar_fade{
	z-index: 3000;
}

#menu1 ul li a {
    font-size: 21px;
    color: white;
}
#menu1 ul ul{
	margin-left: 0px;
	background-image: url('img/MenuIndexBackground.png');
}
#menu1 ul li:hover {
	background-image: url('img/BackgroundIndex.png');
	color: black;
}
#menu1 > ul > li > a:hover {
	color: black;
}
#menu1 > ul > li >ul>li:hover a{
	color: black;
}
#menu1 ul li:hover .open_notifications_body a{
	color: black;
}
#BanerDivTitle{
	margin-top: 60px;
	width: 100%;
	height: 500px;
	
}

#BanerDiv{
	width: 1200px;
	height: 500px;
	border: 5px solid black;
	border-radius: 20px;
	margin: 0 auto;
	background-image: url('img/MainBanerIndex1.png');
}
#BanerDivBody{
	width: 100%;
	height: 500px;
}
#BanerDivText{
	width: 1000px;
	height: 100px;
	margin: 200px auto;
	
	border: 2px solid black;
	border-radius: 20px;
	background-image: url('img/ElementsMenuIndex1.png');
	
}
#animateText{
	position: relative;
	 color: black; 
	 font-family: 'Droid serif', serif; 
	 font-size: 50px; 
	 font-weight: 200; 
	 line-height: 72px;
	width: 955px;
	height: 40px;
	margin: 10px auto;

}

#openMenu{
	opacity: 1;
	position: fixed;
	border: 1px solid black;
	height: 100%;
	width: 200%;
	margin-left: 98%;
	top: 50%;
	transform: translateY(-50%);
	background-image: url('img/MenuIndexBackground.png');
	
	z-index: 40;
}
#openMenu:hover{
	margin-left: 97%;
}
@keyframes pulsatearrowPickDiv{10%{margin-left: -25px}20%{margin-left: -15px}}
#arrowPickDiv{
	border-radius: 10px;
	position: fixed;
	width: 100px;
	height: 200px;
	background-image: url('img/ElementsMenuIndex1.png');
	top: 50%;
	transform: translateY(-50%);
	margin-left: -15px;
	cursor: pointer;
	z-index: 220;
	-webkit-animation: pulsatearrowPickDiv 1s linear infinite;
    animation: pulsatearrowPickDiv 3s linear infinite;
}
.arrowPick{
	position: fixed;
	top: 50%;
	transform: translateY(-50%);
	font-size: 70px;
}
#arrowPickDiv:hover ~ #openMenu{
	margin-left: 97%;
}

#MenuDivTitle{
	width: 30%;
	height: 100%;
	position: relative;
	
}

#MenuDivContainer{
	position: fixed;
	width: 400px;
	height: 500px;
	top: 50%;
	left: 5%;
	background-image: url('img/ElementsMenuIndex1.png');
	border-radius: 20px;
	transform: translateX(-5%);
	transform: translateY(-50%);
	border: 1px solid orange;
}
#MenuDivContainerElements{
	width: 375px;
	height: 475px;
	position: fixed;
	top: 50%;
	left: 3%;
	background-image: url('img/ElementsMenuIndexBlack.png');
	border-radius: 20px;
	transform: translateX(-3%);
	transform: translateY(-50%);
	box-shadow:8px 3px 5px 0px rgba(44, 48, 60, 0.42);
}
.MenuDivContainerElementsDiv{

	width: 100%;
	height: 350px;
	margin: 0 auto;
    margin-top: 10px;
	margin-bottom: 20px;
	


}
#MenuDivContainerElementsTitle{
	position: relative;
	width: 100%;
	height: 100px;

	top: 0;
}
#SearchFriendsDiv{
	position: relative;
	width: 300px;
	height: auto;
	margin: 0 auto;
}
.search{
	margin-top: 20px;
}
.MenuDivContainerElementsTextDiv{
	width: 100%;
	height: 350px;
	height: auto;
	margin: 3px auto;
	text-align: center;
}
.MenuDivContainerElementsText{
	margin-top: 7px;

}
.left_blockDiv{
	height: 330px;
	background-image: url('img/ElementsMenuIndex1.png');
	width: 350px;
	margin: 10px auto;
	overflow-y: scroll;
	overflow-x: hidden;
	/*background: radial-gradient(circle, rgba(122,255,180,1) 0%, rgba(255,136,0,1) 80%);*/
	/*z-index: 20;*/
}
#left_block_titleDiv{
	background-image: url('img/ElementsMenuIndex1.png');
	width: 300px;
	border-radius: 10px;
	top:510px;
	height: 100px;
	border: 1px solid black;

}
.people_avatar{
	border-color: black;
}
.friends_div {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
.friends_bar{
	border-top: 1px solid black;
    border-bottom: 1px solid black;
}
.dots{
	position: relative;
	left:  200px;
	top: -35px;
	font-size: 20px;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	text-align: center;
}
.dots:hover{
	background-color: #cccccc;
	cursor: pointer;
}
.FriendsMenuDiv{
	position: relative;
	width: 260px;
	height: 150px;
	background-color: white;
	display: none;
	top: -150px;
	z-index: 50;
	right: 55px;
}
.dotsHover{
	margin-top: 3px;
}

.MenuElementsText{
	text-decoration: none;
	color: black;
	font-size: 26px;
	font-weight: 600;
	
}
.MenuElementsText:hover{
	color: white;
	transition: all 1s;
}

#site_title_div{
	width: 100%;
	height: 500px;
	
}
#site_title{
	width: 1200px;
	min-height: 400px;
	margin-top: 50px;
	border-radius: 20px;
	margin: 50px auto;
	overflow: hidden;
	height: auto;
	background-image: url('img/MenuIndexBackground.png');
	/*background-image: url('img/FirstInfoBlockIndex1.png');*/
}
#site_title_image{
	position: relative;
	width: 300px;
	height: 300px;
	border: 1px solid orange;
	margin-top: 50px;
	left: 1200px;
	background-color: white;
	box-shadow:7px 9px 10px 0px rgba(44, 48, 60, 0.42);
}
#site_title_info{
	position: relative;
	width: 670px;
	height: 300px;
	margin-top: 50px;
	border: 1px solid orange;
	left: -680px;
	float: left;
	background-color: white;
	box-shadow:7px 9px 10px 0px rgba(44, 48, 60, 0.42);

}
#FirstInfoDivTitle{
	width: 100%;
	height: 600px;
	margin-top: 30px;
}
#FirstInfoDiv{
	width: 1260px;
	margin:50px auto;
	height: 500px;
}
#FirstInfoElementsDiv{
	width: 100%;
	height: 100%;
	background-image: url('img/MenuIndexBackground.png');
	border-radius: 20px;
}
.FirstInfoElementsDiv{
	/*background-image: url('img/BackgroundIndex2.png');*/
	float: left;
	display: none;
	width: 400px;
	height: 100%;
	margin-left: 13.5px;
	
}
.FirstInfoElements{
	background-color: white;
	width: 380px;
	margin: 25px auto;
	height: 450px;
	border: 1px solid orange;
}
.FirstInfoElementsImg{
	width: 150px;
	height: 150px;
	margin: 10px auto;
	border: 1px solid orange;
	border-radius: 50%;
	background-size: cover;
}
.FirstInfoElementsTitleDiv{
	width: 100%;
	height: 40px;
	margin-top: 10px;
	margin-bottom: 10px;
	
}
.FirstInfoElementsTitle{
	width: 350px;
	margin: 0 auto;
	height: 40px;
	border: 1px solid orange;
}
.FirstInfoElementsInfo{
	width: 350px;
	margin: 10px auto;
	border: 1px solid orange;
	height: 215px;
}



#SecondInfoDivTitle{
	width: 100%;
	height: 600px;

	margin-top: 30px;
}
#SecondInfoDiv{
	width: 1250px;
	min-height: 500px;
	margin-top: 50px;
	margin: 50px auto;
	height: auto;
}
#SecondInfoDivElements{
	width: 1250px;
	height: 500px;
	overflow: hidden;
	background-image: url('img/MenuIndexBackground.png');
	border-radius: 20px;
}
.SecondInfoDivElementsTitle{

	width: 390px;
	height: 450px;
	margin-left: 18.5px;
	float: left;
	margin-top: 25px;

}
.SecondInfoDivElementsDiv{
	width: 390px;
	background-color: white;
	height: 450px;
	position: relative;
}
#FirstInfoDivElement{
	top: -520px;
	border: 1px solid orange;
}
.Info{
	width: 200px;
	height: 200px;
	margin: 0 auto;
	border: 1px solid orange;
}
#SecondInfoDivElement{
	top: 520px;
	border: 1px solid orange;
}
#ThirdInfoDivElement{
	top: -520px;
	border: 1px solid orange;
}




#ThirdInfoDivTitle{
	width: 100%;
	height: 600px;

	margin-top: 30px;
	overflow: hidden;
}
#ThirdInfoAllDivTitle{
	background-image: url('img/MenuIndexBackground.png');
	border-radius: 20px;
	width: 1200px;
	height: 600px;
	margin: 0 auto;
}
@keyframes pulsate{50%{border-color:orange;}30%{background-color: orange;}60%{background-color: black;}50%{width: 450px;}50%{height: 450px;}
50%{margin-top: 75px;}


}
.text_fade {
	position: relative;
	margin: 100px auto;
	width: 400px;
	height: 400px;
	border: 2px solid orange;
    border-radius: 50%;
    text-align: center;
    top: -600px;
    display: block;
    -webkit-animation: pulsate 2s linear infinite;
    animation: pulsate 2s linear infinite;
}
@keyframes pulsatetext{50%{margin-top: 205px;}30%{color: black}60%{color: orange}}
#clickme{
	font-size: 40px;
	margin-top: 180px;
	-webkit-animation: pulsatetext 2s linear infinite;
    animation: pulsatetext 2s linear infinite;
}
#clickme:hover{
	cursor: pointer;
}
#clickmeDiv{
	position: relative;
	top: 0px;
}
#ThirdInfoRightAndLeftDivTitle{
	width: 1280px;
	height: 600px;
	overflow: hidden;

	
}
#ThirdInfoLeftDivTitle{
	background-color: white;
	position: relative;
	width: 550px;
	height: 500px;
	margin-top: 50px;
	float: left;
	right: 670px;
	box-shadow:7px 9px 10px 0px rgba(44, 48, 60, 0.42);
	border: 1px solid orange;
}

#ThirdInfoRightDivTitle{
	background-color: white;
	position: relative;
	width: 550px;
	height: 500px;
	margin-top: 50px;
	margin-left: 650px;
	left: 670px;
	box-shadow:7px 9px 10px 0px rgba(44, 48, 60, 0.42);
	border: 1px solid orange;

}


#FourthInfoDivTitle{
	width: 100%;
	height: 600px;
	border: 1px solid red;
	margin-top: 30px;
}
