
#area_book{
	width: 100%;
	margin-top: 60px;

	height: auto;
	position: relative;
	}
#book{
	float: right;
	width: 85%;
	position: relative;
	border: 5px solid orange;
	height: auto;
	border-radius: 5px;
	background-size: cover;
margin-bottom: 60px;}
.zaklad_div{
	width: 110px;
	height: 35px;
	text-align: center;
	margin-bottom: 10px;
}
.zaklad{
	
	
	width: 110px;
	height: 35px;
	cursor: pointer;
text-align:  center;}
#zaklad_menu{
	width: 110px;
	float: right;
	
	height: auto;}
.zaklad_title:hover{
color: orange;}
.zaklad_title{
	margin-left: 30px;
	margin-top: 7px;
	position: absolute;
	}
#area_book{
	/*display: none;*/}
.button{
	margin-top: 20px;
	margin-left: 20px;
	padding-top: 125px;
	padding-bottom: 128px;
	padding-left: 85px;
	padding-right: 85px;
	background-color: #ffd694;
	font-size: 50px;
	color:#ff4d00;
	border: 2px dashed orange;}
.button:hover{
	transition: all .5s;
	transform: scale(1.1);}
.task{
	border: 1px solid red;
	margin-top: 0%;}
.question{
	font-weight: bold;
	margin-bottom:20px;
	margin-left: 20px;}
.radio_answer{
	float: left;
	margin-left: 20px;
	margin-top: 4px;}
.radio{
	margin-bottom: 20px;}
.checkbox_answer{
	float: left;
	margin-left: 20px;
	margin-top: 4px;}
.checkbox{
	margin-bottom: 20px;}
.answer{
	float: left;
	margin-left: 20px;
	margin-top: 4px;}
.textarea{
	margin-bottom: 20px;}
.input{
	margin-bottom: 20px;}
.possibleAnswer{
	margin-left: 60px;}
.submit_btn_div{
	width: auto;
	height: auto;
	margin-left: 80%;}
.submit_btn{
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 5px;
	padding-left: 5px;
	margin-bottom: 20px;
	background-color: orange;
	border: 1px solid red;
	cursor: pointer;}
.submit_btn:hover{
	background-color: darkorange;}
#error{
	font-size: 18px;
	color: red;
	margin-left: 38%;}
.image_answer_div{
	width: 98%;
	margin-left: 1%;
	height: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	
}
.image_answer{
	width: 240px;
	height: 240px;
	border: 1px solid orange;
	margin: 0 auto;

}