body{
	background-image: url('img/regbg1.png');
	background-size: 100% auto;}
a{	color: white;}
a:hover{
	text-decoration: none;}
.container{
	width: 450px;
	height: 500px;
	background-color: #182134;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	border:3px solid orange;
	border-radius: 3px;
	text-align: center;}
.container .avatar {
	width: 120px;
	height: 120px;
	margin: -60px 0 30px 0;
	border: 3px solid orange;
	border-radius: 50%;}
input[type="text"], input[type="password"]{
	width: 300px;
	height: 40px;
	margin-bottom: 5px;
	border-radius: 4px;
	padding-left: 35px;
	border-color: orange;
	margin-top: 20px;}
.dws-submit{
	padding: 13px 30px;
	margin: 40px 0 20px 0;
	font-size: 15px;
	color:black;
	background-color: orange;
	border:none;
	border-bottom: 3px solid #fab62d;
	cursor: pointer;}
.dws-submit:hover{
	background: #b86e00;
	color: white;
	transition: all .5s;
	transform: scale(1.3);}
.userpng{
	position: absolute;
	margin-top: 33px;
	margin-left: 7px;}
.lockpng{
	position: absolute;
	margin-top: 33px;
	margin-left: 7px;}
input:hover{
	background-color: orange;
	transition: all .5s;}
.change-panel{
	position: absolute;
	margin-top: 40px;
	margin-left: -160px;}
.change-panel a{
	margin:0;
	text-decoration: none;
	background-color: orange;
	padding-left: 35px;
	padding-top: 15px;
	padding-right: 35px;
	padding-bottom: 15px;
	opacity: 0.7;
	font-size: 19px;
	margin-left: 200px; 
	margin-top: 31px;}
.change-panel a:hover{
	transition: all .5s;
	transform: scale(1.2);
	opacity: 1;}
.change-panel p{
	position: absolute;
	margin-left: 440px;
	padding-left: 15px;
	padding-top: 17px;
	padding-right: 15px;
	padding-bottom: 13px;
	background-color: white;
	font-size: 19px;
	margin-top: -38px;
	opacity: 0.7;}
.wrong_password{
	position: absolute;
	font-size: 17px;
	color: red;
	margin-top: 5px;
	margin-left: 120px;
	background-color:#401f1f;
	padding: 3px;}
.enter_text_div{
	margin: 0 auto;
	width: 300px;
	background-color: orange;
	border:2px solid darkorange;
	font-size: 20px;
	font-style: bold;
	border-radius: 15px;
}
.enter_text{
	padding-top: 10px;
	padding-bottom: 10px;
}